@page "/"
@using OpenNasa.Apod.Shared
@inject HttpClient Http
@inject IJSRuntime JS


    @if (pictures == null)
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
    }
    else
    {
        <div class="grid">
            <div class="grid-sizer"></div>
            @foreach (var pic in pictures)
            {
                <div class="grid-item">
                    @* @pic.Date.ToShortDateString()
                    @pic.Explanation
                    @pic.MediaType
                    @pic.Title
                    <a href="@pic.HdUrl">HD URL</a> *@
                    <img src="@pic.Url" />
                </div>
            }
        </div>
    }

@code {
    private ApodPicture[] pictures;

    protected override async Task OnInitializedAsync()
    {
        pictures = await Http.GetFromJsonAsync<ApodPicture[]>("api/pictures");
        if(pictures != null)
        {
            await JS.InvokeVoidAsync("displayGallery");
        }
    }
}

